@keyframes slideInRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes beginInfoText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes arrowSlide {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 10px;
  }
}

@keyframes slideInDown {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

@keyframes slideDown {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes slideUp {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -100%;
  }
}
