{% extends "blog/base.html" %}
{% load static %}
{% block link %}
    <link rel="stylesheet" href="{% static 'css/all-posts.css'%}">
{% endblock %}
{% block content %}
<main class="all-post-main">
      <section class="all-post-main-container">
          {% for all_posts in posts %}
                <div class="all-post-main-container-box">
                    <div class="all-post-main-container-box-image"><img src="{{ all_posts.imagePost.url }}" alt=""></div>
                    <div class="all-post-main-container-box-right">
                        <div class="box-right-text">
                                {{ all_posts.text_post|truncatewords:15|safe }}
                        </div>
                        <div class="box-right-down">
                            <div class="box-right-down-date">{{ all_posts.publish|date:'d-m-Y' }}</div>
                            <a href="{{ all_posts.get_absolute_url }}"><div class="box-right-down-read-more">Czytaj więcej<img src="{% static 'img/read-more.png' %}"></div></a>
                        </div>
                    </div>
                </div>
          {% endfor %}
      </section>
  </main>
    {% include "pagination.html" with page=posts %}
{% endblock %}